name: Test package

on:
  pull_request:
    branches:
      - '**'

concurrency:
  group: testing-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint_and_test:
    name: Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.x

      - run: dotnet tool restore
      - run: dotnet test
      - run: npm ci
      - run: npm run build
